:root {
    --color-blue: #1a3c44;
    --color-grey: #7a8e94;
    --color-cyan: #5ec4bc;
    --color-silver: #f1f3f6;
    --color-sky: #1e88e5;
    --color-grey-blue: #f3f5f7;
    --color-red: #d73246;
}