@import "schedule-styles.css";
@import "bottom-styles.css";

body {
  background: #f1f3f6;
  margin: 0;
  overflow-x: hidden;
}

@media screen and (min-width: 3000px){
  body {
    width: 3000px;
    margin: auto;
  }
}
